<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
    <h1>Lab 5 - Template</h1>
    {% if response %}
         <p>
             JSON Response from <a href="http://127.0.0.1:8000/api/">http://127.0.0.1:8000/api/</a>:
         </p><p>
             <strong>{{ response.Message }}</strong>
         </p>
    {% else %}
        <p>
            <strong>Huzzah!</strong>
        </p>
    {% endif %}

    <p style="margin-top: 50px">
        <em>This API response is created in the
        <a href="https://github.com/amajor/software-architecture-django-helloworld/blob/main/helloworld/helloworld/views.py">
            helloworld/helloworld/views.py
        </a> file. Editing the message in this file will change what is rendered above.</em>
    </p>
</body>
</html>
